#navbar {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

#navbar li,
#navbar a {
  animation: textColor linear both;
  animation-timeline: scroll();
  animation-range: 0 150px;
  color: #ffffff;
}

@keyframes blur {
  to {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
  }
}

@keyframes textColor {
  to {
    color: #001555;
  }
}